<div class="categories-grid" nz-row>
    @for(category of categoriesList; track category.mask){
        <div nz-col nzSpan="6">
            <a [routerLink]="['/',category.url_Title,'c' + category.mask]">
                <img [src]="category.img"  alt="test" appImageLoader load_from="categories">
                <span class="category-title">{{category.title}}</span>
                <!-- @if(category.SubCategoriesList.length > 0){
                    @for(s of category.SubCategoriesList; track s.mask){
                        <a [routerLink]="['/',s.url_Title,s.mask]"><span class="subcategory-title">{{s.title}}</span></a>
                    }
                } -->
            </a>

        </div>
    }
</div>