<ng-template #content let-modal>
    <div class="modal-header">
		<h4 class="modal-title">Add producer</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
    <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="name">Producer name</label>
                <input class="form-control" placeholder="Producer name" formControlName="name">
                 @if( form.hasDisplayableError('name',isSubmitted)){
                        <div class="error-feedback" >
                            @if(form.controls['name'].hasError('required')){
                                <div>
                                    Producer name is required
                                </div>
                            }
                            
                        </div>
                    }
            </div>
            <div class="mb-3">
                <app-admin-select-categories [checkBoxes]="checkBoxSignal" (onChange)="categoriesOnChange($event)"></app-admin-select-categories>
            </div>
            
            <button type="submit" class="btn btn-outline-primary">
                Add product
            </button>
            <button class="btn btn-danger" (click)="modal.dismiss('Cross click')">
                Cancel
            </button>
        </form>
    </div>
    <div class="modal-footer">
        test
    </div>
</ng-template>