<div class="productItem">
    <a [routerLink]="['/',product.url_Title,product.mask]">
    <div class="img-container">
        <img ngSrc="{{product.img1}}" width="200" height="148">
    </div>
    <div class="productItem-content">
        <span class="productItem-title">{{product.title}}</span>
        <div class="productItem-price">
            <span>{{product.price}} $</span>
            <button class="btn btn-success"><i class="bi bi-basket"></i> Buy</button>
        </div>
        <span>{{product.description}}</span>
    </div>
    </a>
</div>