.productItem-content > .productItem-title{
    font-size: 20pt;
}
.productItem-content{
    font-size: 16pt;
}
.productItem{
    padding: 5px;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.5);
    border-radius: 12px;
}
.productItem-price > span{
    font-weight: bold;
    text-align: left;
}
.productItem-price{
   display: grid;
   grid-template-columns: auto 20%;
 }
 .productItem > a {
    text-decoration: none;
    color: var(--global-color-black);
 }