<!-- 
@if(this.mode == "product_details"){
    <app-product-detail [product]="productsList[0]" ></app-product-detail>
}
@else if(this.mode == "product_list") {
    <app-product-list [products]="productsList" ></app-product-list>
} -->
@switch (this.mode) {
    @case("product_details"){
        <app-product-detail [product]="productsList[0]" ></app-product-detail>
    }
    @case("products_list"){
        <h1>TEST</h1>
        <app-product-list [products]="productsList" ></app-product-list>
    }
    @case("category_page"){
        <app-categorypage [categoriesList]="categoriesList"></app-categorypage>
    }
}