@for (toast of toastService.toasts(); track toast) {
	
	@if(!isBodyString(toast)){
	
			<ngb-toast
				[class]="toast.classname"
				[autohide]="true"
				[delay]="toast.delay || 5000"
				(hidden)="toastService.remove(toast)"
			>
				<ng-template [ngTemplateOutlet]="bodyToTemplate(toast)"></ng-template>
			</ngb-toast>
		}
		@else{
			<ngb-toast
				[class]="toast.classname"
				[autohide]="true"
				[delay]="toast.delay || 5000"
				(hidden)="toastService.remove(toast)"
			>
				{{toast.body}}
			</ngb-toast>
		}
}
